<div>

    <section class="contact">

        <div class="contact__content container">

            <div>
                <section class="contact__logo-group">
                    <img src="assets/images/logo.png" alt="App logo">
                    <h2><span class="accented">Alura</span>Geek</h2>
                </section>

                <nav class="contact__nav">
                    <ul class="contact__list">
                        <li class="contact__list-item"> <a href="#">Quienes somos</a> </li>
                        <li class="contact__list-item"> <a href="#">Politica de privacidad</a> </li>
                        <li class="contact__list-item"> <a href="#">Programa de fidelidad</a> </li>
                        <li class="contact__list-item"> <a href="#">Nuestras tiendas</a> </li>
                        <li class="contact__list-item"> <a href="#">Quiero ser parte</a> </li>
                        <li class="contact__list-item"> <a href="#">Anuncie aquí</a> </li>
                    </ul>
                </nav>
            </div>

            <form class="form">
                <h2 class="form__title"> Comuniquese con nosotros </h2>


                <div class="input__group">
                    <input class="form__input " type="text" id="name" placeholder=" ">
                    <label class="form__label" for="name">Nombre</label>
                    <p class="form__error">Error</p>
                </div>

                <div class="input__group">
                    <textarea class="form__input " id="message" placeholder=" "></textarea>
                    <label class="form__label" for="message" cols="30" rows="10">Mensaje</label>
                    <p class="form__error">Error</p>
                </div>

                <button type="submit" class="accented_btn btn">Enviar</button>
            </form>

        </div>

    </section>


    <section class="attribution">
        <p class="footer__detail"> Desarollado por Luis Fernando Leiton Iglesias </p>
        <p class="footer__detail"> 2022 </p>
    </section>
</div>